---
import Calculator from '../components/Calculator';
import '../styles/globals.css';
---
<!doctype html>
<html lang="fr">
<head>
	<!-- [...] -->
	<meta charset="UTF-8">
	<title>Calculateur 3000</title>
</head>
<body>
	<h1>📠 Calculateur 3000</h1>

	<Calculator client:visible />
</body>
</html>
